pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_last_cdc_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json",
						"type": "DatasetReference",
						"parameters": {
							"lookupcontainername": "bronzecontainer",
							"lookupdirectoriename": "cdcdirectory",
							"lookupfilename": "cdc.json"
						}
					}
				}
			},
			{
				"name": "Set variable_for_current_timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_sql_to_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_last_cdc_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable_for_current_timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from  @{pipeline().parameters.sourceschema}.@{pipeline().parameters.sourcetable} where @{pipeline().parameters.sourcecdc_column}>'@{activity('Lookup_last_cdc_date').output.firstRow.cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"sinkcontainername": "bronzecontainer",
							"sinkdirectoriename": "users",
							"sinkfilename": {
								"value": "@concat(pipeline().parameters.sourcetable,'-',utcNow())",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "To_fetch_max_cdc_date",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_sql_to_adls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select max(@{pipeline().parameters.sourcecdc_column}) as cdc from @{pipeline().parameters.sourceschema}.@{pipeline().parameters.sourcetable}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "To_fetch_max_cdc_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "cdc",
								"value": {
									"value": "@activity('To_fetch_max_cdc_date').output.resultSets[0].rows[0].cdc",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_json",
						"type": "DatasetReference",
						"parameters": {
							"lookupcontainername": "bronzecontainer",
							"lookupdirectoriename": "cdcdirectory",
							"lookupfilename": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_json",
						"type": "DatasetReference",
						"parameters": {
							"lookupcontainername": "bronzecontainer",
							"lookupdirectoriename": "cdcdirectory",
							"lookupfilename": "cdc.json"
						}
					}
				]
			}
		],
		"parameters": {
			"sourceschema": {
				"type": "string"
			},
			"sourcetable": {
				"type": "string"
			},
			"sourcecdc_column": {
				"type": "string"
			}
		},
		"variables": {
			"var1": {
				"type": "String"
			}
		},
		"annotations": []
	}
}