pipeline/pl_day.json
{
	"name": "pl_day",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_month",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmetdata_month",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@concat('DATA/flight/',pipeline().parameters.p_year,'/',pipeline().parameters.p_month)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_reuired_date",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_month').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(\n  int(item().name),\n  pipeline().parameters.p_date\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_days",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_reuired_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_reuired_date').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copydays",
									"type": "DatasetReference",
									"parameters": {
										"year_copy": {
											"value": "@pipeline().parameters.p_year",
											"type": "Expression"
										},
										"month_copy": {
											"value": "@pipeline().parameters.p_month",
											"type": "Expression"
										},
										"date_copy": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_copydata_sink",
									"type": "DatasetReference",
									"parameters": {
										"year_sink": {
											"value": "@pipeline().parameters.p_year",
											"type": "Expression"
										},
										"month_sink": {
											"value": "@pipeline().parameters.p_month",
											"type": "Expression"
										},
										"day_sink": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_year": {
				"type": "string"
			},
			"p_month": {
				"type": "string"
			},
			"p_date": {
				"type": "int"
			}
		},
		"annotations": []
	}
}