pipeline/pl_day.json
{
	"name": "pl_day",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_month",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmetdata_month",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@concat('DATA/flight/',pipeline().parameters.p_year,'/',pipeline().parameters.p_month)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_reuired_date",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_month').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(\n  int(item().name),\n  pipeline().parameters.p_date\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_days",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_reuired_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_reuired_date').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_Hour",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_year": {
										"value": "@pipeline().parameters.p_year",
										"type": "Expression"
									},
									"pp_month": {
										"value": "@pipeline().parameters.p_month",
										"type": "Expression"
									},
									"pp_date": {
										"value": "@pipeline().parameters.p_date",
										"type": "Expression"
									},
									"pp_hour": {
										"value": "@pipeline().parameters.p_hour",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_year": {
				"type": "string"
			},
			"p_month": {
				"type": "string"
			},
			"p_date": {
				"type": "int"
			},
			"p_hour": {
				"type": "string"
			}
		},
		"annotations": []
	}
}