pipeline/pl_Hour.json
{
	"name": "pl_Hour",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_days",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_days",
						"type": "DatasetReference",
						"parameters": {
							"directoty_hours_pp": {
								"value": "@concat('DATA/flight/',pipeline().parameters.pp_year,'/',pipeline().parameters.pp_month,'/',pipeline().parameters.pp_date)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_reuired_hours",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_days",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_days').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(\n  int(item().name),\n  int(pipeline().parameters.pp_hour)\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_for_hours",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_reuired_hours",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_reuired_hours').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data_hourly  files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_hourly",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat('DATA/flight/',pipeline().parameters.pp_year,'/',pipeline().parameters.pp_month,'/',pipeline().parameters.pp_date,'/',item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_adls",
									"type": "DatasetReference",
									"parameters": {
										"directory": "@concat('DATA/flight/',pipeline().parameters.pp_year,'/',pipeline().parameters.pp_month,'/',pipeline().parameters.pp_date)"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pp_year": {
				"type": "string"
			},
			"pp_month": {
				"type": "string"
			},
			"pp_date": {
				"type": "string"
			},
			"pp_hour": {
				"type": "string"
			}
		},
		"annotations": []
	}
}