pipeline/pl_month.json
{
	"name": "pl_month",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_of_year",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmetadataofyear",
						"type": "DatasetReference",
						"parameters": {
							"directorry": {
								"value": "@concat('DATA/flight/',pipeline().parameters.pYear)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_months_required",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_of_year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_of_year').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(   int(replace(item().name,'month=','')),pipeline().parameters.pMonthWatermark)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "iterating months",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_months_required",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_months_required').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_day",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_year": {
										"value": "@pipeline().parameters.pYear",
										"type": "Expression"
									},
									"p_month": {
										"value": "@item().name",
										"type": "Expression"
									},
									"p_date": {
										"value": "@pipeline().parameters.pDate",
										"type": "Expression"
									},
									"p_hour": {
										"value": "@pipeline().parameters.pHour",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pYear": {
				"type": "string"
			},
			"pMonthWatermark": {
				"type": "int"
			},
			"pDate": {
				"type": "string"
			},
			"pHour": {
				"type": "string"
			}
		},
		"annotations": []
	}
}