pipeline/pl_month.json
{
	"name": "pl_month",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_of_year",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmetadataofyear",
						"type": "DatasetReference",
						"parameters": {
							"directorry": {
								"value": "@concat('DATA/flight/',pipeline().parameters.pYear)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_months_required",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_of_year",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_of_year').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(   int(replace(item().name,'month=','')),pipeline().parameters.pMonthWatermark)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pYear": {
				"type": "string"
			},
			"pMonthWatermark": {
				"type": "int"
			}
		},
		"variables": {
			"a": {
				"type": "String"
			}
		},
		"annotations": []
	}
}